
.carousel-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
.slidering{
    width: 100%;
    height: 500px;
    object-fit: cover;
    justify-self: center;
}