
.footer-container{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dce6cade;
    .tmdb-image{
        height: 60%;
        margin-left: 5px;
    }
}