@import 'variables';
@import 'mixin';
@import 'movies';
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import 'header.scss';
@import 'movie';
@import 'search';
@import 'carousel';
@import 'footer';


.w100{
    width: 100%;
}
.general-bgc-col{
    background-color:#000;
    color: white;
}
.flex{
    display: flex;
}