*{
    background-color:#120346;
    color: white;
}

@import 'variables';
@import 'mixin';
@import 'movies';
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import 'header.scss';
@import 'movie';

.sliderimg{
    width: 90%;
    height: 500px;
    object-fit: cover
}