@import 'variables';
@import 'mixin';

.main-container-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.5rem;
}
.container-movie{
    width: 14rem;
    @include flexDirection(flex, column);
    margin: 1rem 0.5rem;
}
.container-movie-image{
    @include measures(90%, 95%);
    border-radius: 0.7rem;
}
