@import 'variables';
@import 'mixin';

// grow rotate hover (css)
.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
    background-color: #000;
}

.main-container-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.5rem;
    margin-bottom: 0;
}
.container-movie{
    width: 14rem;
    @include flexDirection(flex, column);
    margin: 1rem 0.5rem;
    background-color: #000;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.089);
    &-image{
        display: block;
        width: 100%;

    }
    &-info{
        display: flex;
        background-color: #fff;
        justify-content: space-around;
        color: #120346;
        padding: 0 .5rem;
        height: 3.5rem;
        align-items: center;
        h3{
            font-weight: 500;
            font-size: 1rem;
        }
        p{
            padding: 0.2rem;
            background-color: #120346;
            color: #fff;
            border-radius: 3px;
        }
    }
}

